<div class="card" style="width: 40rem;">
  <div class="card-block">
  	<div class= "row">
    	<div class= "col-md-6">
    		<h4 class="card-title">About Me</h4>
    	</div>
    	<div class= "col-md-6">
    		<p class="card-text">My name is Abigail Whitaker and I'm a personal trainer. <br/> 
    			I take clients from all over Sublette County, Wyoming, as well as online! I am offering private and semi private sessions and I'm working on being able to train group classes in the two main gyms in Sublette county. <br/>
					Being a CPT allows me to share my passion and knowledge of fitness to to help others find their love for it. I will motivate, educate, and inspire every person who pays for my services. I'll write your workout plans based off of your specific needs and goals. <br/> 
					As of now, I'm only certified in personal training. Within the next few months, I will begin my Fitness Nutrition Specialization course. This will give me the opportunity to offer my clients more knowledge as well as gain more clients.
				</p>
    	</div>
  	</div>
  </div>
</div>
