<h1 class= "contact-head">Turn your resolution into reality with me this year </h1>

<div class="card contact-card">
	<div class="card-body">
		<h4 class= "contact-body">abigailmoreno97@outlook.com <br/> <%= number_to_phone "3072603040" %></h4>
		<div class="row social-links">
				<div class="col-md-6"> <h2 class= "soc-link-i"><a href="https://www.instagram.com/abigailw_trainer" target="_blank"><%= fa_icon "instagram"  %></a></h2> 
				</div>
				<div class="col-md-6"><h2 class= "soc-link-f"><a href="https://www.facebook.com/Awhitaker97" target="_blank"><%= fa_icon "facebook-square" %></a></h2>
				</div>
			</div>
		</div>
		<div class="maps">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2924.4107428794205!2d-109.87834668456074!3d42.864173979156256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x875796a197224895%3A0x54da37e4cb3c4c75!2sWyoming+Athlete+Development!5e0!3m2!1sen!2sus!4v1516326524946" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2939.705725049888!2d-110.11786258457121!3d42.54030547917519!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x875708c063344bc5%3A0x29b6ab26bba1e274!2sBig+Piney+Recreation+Department!5e0!3m2!1sen!2sus!4v1516379357651" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>
